<template name="map">
    <form class="form-horizontal">
        <div class="map-container form-group">
            <h4>Use the overlay in the map to select the approximate boundaries of your neighborhood</h4>
            {{> googleMap name="map" options=mapOptions}}
        </div>
        <hr>
        <div class="form-group {{errorClass 'neighborhood'}}">
            <label class="control-label" for="neighborhood">Neighborhood/Community name</label>
            <div class="controls">
                <input name="neighborhood" id="neighborhood" type="text" value="" placeholder="The Settlement" class="form-control"/>
                <span class="help-block">{{errorMessage 'neighborhood'}}</span>
            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>
    <div id="info">
        <h4>Based on your location it has been determined that you may be part of following neighborhood(s): </h4>
            {{#each neighborhoodsContainingUserLocation}}
                <div class="radio">
                    <label>
                        <input type="radio" name="neighborhoodOptions" id="neighborhoodOption{{_id}}" value="{{_id}}">
                        {{properties.name}}
                    </label>
                </div>
            {{/each}}
    </div>
</template>  